pipeline_nyc_payroll.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_adls_nyc":{"type":"string"},"ls_sql_nyc":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline_nyc_payroll')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"df_emp","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_emp","type":"DataFlowReference","parameters":{},"datasetParameters":{"sourceEmp":{},"sinkEmp":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"df_agency","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_agency","type":"DataFlowReference","parameters":{},"datasetParameters":{"dataflowAgency":{},"sinkAgency":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"df_title","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_title","type":"DataFlowReference","parameters":{},"datasetParameters":{"dataflowTitle":{},"sinkTitle":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"df_payroll2020","type":"ExecuteDataFlow","dependsOn":[{"activity":"df_emp","dependencyConditions":["Succeeded"]},{"activity":"df_agency","dependencyConditions":["Succeeded"]},{"activity":"df_title","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_payroll2020","type":"DataFlowReference","parameters":{},"datasetParameters":{"dataflowPayroll2020":{},"sinkPyroll2020":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"df_payroll2021","type":"ExecuteDataFlow","dependsOn":[{"activity":"df_emp","dependencyConditions":["Succeeded"]},{"activity":"df_agency","dependencyConditions":["Succeeded"]},{"activity":"df_title","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_payroll2021","type":"DataFlowReference","parameters":{},"datasetParameters":{"dataflowPayroll2021":{},"sinkPayroll2021":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"df_summary","type":"ExecuteDataFlow","dependsOn":[{"activity":"df_payroll2020","dependencyConditions":["Succeeded"]},{"activity":"df_payroll2021","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"dataflow_summary","type":"DataFlowReference","parameters":{"dataflow_param_fiscalyear":2020},"datasetParameters":{"source2020":{},"source2021":{},"sinkSqlSummary":{},"sink":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"dataflow_param_fiscalyear":{"type":"int","defaultValue":2020}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/dataflows/dataflow_emp')]","[concat(variables('factoryId'), '/dataflows/dataflow_agency')]","[concat(variables('factoryId'), '/dataflows/dataflow_title')]","[concat(variables('factoryId'), '/dataflows/dataflow_payroll2020')]","[concat(variables('factoryId'), '/dataflows/dataflow_payroll2021')]","[concat(variables('factoryId'), '/dataflows/dataflow_summary')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_emp')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_emp","type":"DatasetReference"},"name":"sourceEmp"}],"sinks":[{"dataset":{"referenceName":"ds_sql_emp","type":"DatasetReference"},"name":"sinkEmp"}],"transformations":[],"scriptLines":["source(output(","          EmployeeID as string,","          LastName as string,","          FirstName as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> sourceEmp","sourceEmp sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          EmployeeID as string,","          LastName as string,","          FirstName as string","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          EmployeeID,","          LastName,","          FirstName","     )) ~> sinkEmp"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_emp')]","[concat(variables('factoryId'), '/datasets/ds_sql_emp')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_agency')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_agency","type":"DatasetReference"},"name":"dataflowAgency"}],"sinks":[{"dataset":{"referenceName":"ds_sql_agency","type":"DatasetReference"},"name":"sinkAgency"}],"transformations":[],"scriptLines":["source(output(","          AgencyID as string,","          AgencyName as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> dataflowAgency","dataflowAgency sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          AgencyID as string,","          AgencyName as string","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          AgencyID,","          AgencyName","     )) ~> sinkAgency"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_agency')]","[concat(variables('factoryId'), '/datasets/ds_sql_agency')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_title')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_title","type":"DatasetReference"},"name":"dataflowTitle"}],"sinks":[{"dataset":{"referenceName":"ds_sql_title","type":"DatasetReference"},"name":"sinkTitle"}],"transformations":[],"scriptLines":["source(output(","          TitleCode as string,","          TitleDescription as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> dataflowTitle","dataflowTitle sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          TitleCode as string,","          TitleDescription as string","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> sinkTitle"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_title')]","[concat(variables('factoryId'), '/datasets/ds_sql_title')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_payroll2020')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_payroll_2020","type":"DatasetReference"},"name":"dataflowPayroll2020"}],"sinks":[{"dataset":{"referenceName":"ds_sql_payroll2020","type":"DatasetReference"},"name":"sinkPyroll2020"}],"transformations":[],"scriptLines":["source(output(","          FiscalYear as string,","          PayrollNumber as string,","          AgencyID as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as string,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as string,","          PayBasis as string,","          RegularHours as string,","          RegularGrossPaid as string,","          OTHours as string,","          TotalOTPaid as string,","          TotalOtherPay as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> dataflowPayroll2020","dataflowPayroll2020 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          FiscalYear as integer,","          PayrollNumber as integer,","          AgencyID as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as date,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as double,","          PayBasis as string,","          RegularHours as double,","          RegularGrossPaid as double,","          OTHours as double,","          TotalOTPaid as double,","          TotalOtherPay as double","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> sinkPyroll2020"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_payroll_2020')]","[concat(variables('factoryId'), '/datasets/ds_sql_payroll2020')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_payroll2021')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_payroll_2021","type":"DatasetReference"},"name":"dataflowPayroll2021"}],"sinks":[{"dataset":{"referenceName":"ds_sql_payroll2021","type":"DatasetReference"},"name":"sinkPayroll2021"}],"transformations":[],"scriptLines":["source(output(","          FiscalYear as string,","          PayrollNumber as string,","          AgencyCode as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as string,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as string,","          PayBasis as string,","          RegularHours as string,","          RegularGrossPaid as string,","          OTHours as string,","          TotalOTPaid as string,","          TotalOtherPay as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> dataflowPayroll2021","dataflowPayroll2021 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          FiscalYear as integer,","          PayrollNumber as integer,","          AgencyCode as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as date,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as double,","          PayBasis as string,","          RegularHours as double,","          RegularGrossPaid as double,","          OTHours as double,","          TotalOTPaid as double,","          TotalOtherPay as double","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> sinkPayroll2021"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_payroll_2021')]","[concat(variables('factoryId'), '/datasets/ds_sql_payroll2021')]"]},{"name":"[concat(parameters('factoryName'), '/dataflow_summary')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ds_sql_payroll2020","type":"DatasetReference"},"name":"source2020"},{"dataset":{"referenceName":"ds_sql_payroll2021","type":"DatasetReference"},"name":"source2021"}],"sinks":[{"dataset":{"referenceName":"ds_sql_summary","type":"DatasetReference"},"name":"sinkSqlSummary"},{"dataset":{"referenceName":"ds_sink_staging","type":"DatasetReference"},"name":"sink"}],"transformations":[{"name":"select2021"},{"name":"select2020"},{"name":"union1"},{"name":"filter1"},{"name":"derivedColumn1"},{"name":"aggregate1"}],"scriptLines":["parameters{","     dataflow_param_fiscalyear as integer (2020)","}","source(output(","          FiscalYear as integer,","          PayrollNumber as integer,","          AgencyID as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as date,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as double,","          PayBasis as string,","          RegularHours as double,","          RegularGrossPaid as double,","          OTHours as double,","          TotalOTPaid as double,","          TotalOtherPay as double","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table') ~> source2020","source(output(","          FiscalYear as integer,","          PayrollNumber as integer,","          AgencyCode as string,","          AgencyName as string,","          EmployeeID as string,","          LastName as string,","          FirstName as string,","          AgencyStartDate as date,","          WorkLocationBorough as string,","          TitleCode as string,","          TitleDescription as string,","          LeaveStatusasofJune30 as string,","          BaseSalary as double,","          PayBasis as string,","          RegularHours as double,","          RegularGrossPaid as double,","          OTHours as double,","          TotalOTPaid as double,","          TotalOtherPay as double","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table') ~> source2021","source2021 select(mapColumn(","          FiscalYear,","          PayrollNumber,","          AgencyID = AgencyCode,","          AgencyName,","          EmployeeID,","          LastName,","          FirstName,","          AgencyStartDate,","          WorkLocationBorough,","          TitleCode,","          TitleDescription,","          LeaveStatusasofJune30,","          BaseSalary,","          PayBasis,","          RegularHours,","          RegularGrossPaid,","          OTHours,","          TotalOTPaid,","          TotalOtherPay","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> select2021","source2020 select(mapColumn(","          FiscalYear,","          PayrollNumber,","          AgencyID,","          AgencyName,","          EmployeeID,","          LastName,","          FirstName,","          AgencyStartDate,","          WorkLocationBorough,","          TitleCode,","          TitleDescription,","          LeaveStatusasofJune30,","          BaseSalary,","          PayBasis,","          RegularHours,","          RegularGrossPaid,","          OTHours,","          TotalOTPaid,","          TotalOtherPay","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> select2020","select2020, select2021 union(byName: true)~> union1","union1 filter(toInteger(FiscalYear) >= $dataflow_param_fiscalyear) ~> filter1","filter1 derive(TotalPaid =  RegularGrossPaid + TotalOTPaid+TotalOtherPay) ~> derivedColumn1","derivedColumn1 aggregate(groupBy(AgencyName,","          FiscalYear),","     TotalPaid = sum(TotalPaid)) ~> aggregate1","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          FiscalYear as integer,","          AgencyName as string,","          TotalPaid as double","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     truncate:true,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> sinkSqlSummary","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     truncate: true,","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> sink"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_sql_payroll2020')]","[concat(variables('factoryId'), '/datasets/ds_sql_payroll2021')]","[concat(variables('factoryId'), '/datasets/ds_sql_summary')]","[concat(variables('factoryId'), '/datasets/ds_sink_staging')]"]},{"name":"[concat(parameters('factoryName'), '/ds_emp')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"EmpMaster.csv","folderPath":"dirpayrollfiles","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"EmployeeID","type":"String"},{"name":"LastName","type":"String"},{"name":"FirstName","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_emp')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"EmployeeID","type":"varchar"},{"name":"LastName","type":"varchar"},{"name":"FirstName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_EMP_MD"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_agency')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"AgencyMaster.csv","folderPath":"dirpayrollfiles","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"AgencyID","type":"String"},{"name":"AgencyName","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_agency')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"AgencyID","type":"varchar"},{"name":"AgencyName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_AGENCY_MD"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_title')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"TitleMaster.csv","folderPath":"dirpayrollfiles","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"TitleCode","type":"String"},{"name":"TitleDescription","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_title')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"TitleCode","type":"varchar"},{"name":"TitleDescription","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_TITLE_MD"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_payroll_2020')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"nycpayroll_2020.csv","folderPath":"dirhistoryfiles","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"FiscalYear","type":"String"},{"name":"PayrollNumber","type":"String"},{"name":"AgencyID","type":"String"},{"name":"AgencyName","type":"String"},{"name":"EmployeeID","type":"String"},{"name":"LastName","type":"String"},{"name":"FirstName","type":"String"},{"name":"AgencyStartDate","type":"String"},{"name":"WorkLocationBorough","type":"String"},{"name":"TitleCode","type":"String"},{"name":"TitleDescription","type":"String"},{"name":"LeaveStatusasofJune30","type":"String"},{"name":"BaseSalary","type":"String"},{"name":"PayBasis","type":"String"},{"name":"RegularHours","type":"String"},{"name":"RegularGrossPaid","type":"String"},{"name":"OTHours","type":"String"},{"name":"TotalOTPaid","type":"String"},{"name":"TotalOtherPay","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_payroll2020')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"FiscalYear","type":"int","precision":10},{"name":"PayrollNumber","type":"int","precision":10},{"name":"AgencyID","type":"varchar"},{"name":"AgencyName","type":"varchar"},{"name":"EmployeeID","type":"varchar"},{"name":"LastName","type":"varchar"},{"name":"FirstName","type":"varchar"},{"name":"AgencyStartDate","type":"date"},{"name":"WorkLocationBorough","type":"varchar"},{"name":"TitleCode","type":"varchar"},{"name":"TitleDescription","type":"varchar"},{"name":"LeaveStatusasofJune30","type":"varchar"},{"name":"BaseSalary","type":"float","precision":15},{"name":"PayBasis","type":"varchar"},{"name":"RegularHours","type":"float","precision":15},{"name":"RegularGrossPaid","type":"float","precision":15},{"name":"OTHours","type":"float","precision":15},{"name":"TotalOTPaid","type":"float","precision":15},{"name":"TotalOtherPay","type":"float","precision":15}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_Data_2020"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_payroll_2021')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"nycpayroll_2021.csv","folderPath":"dirpayrollfiles","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"FiscalYear","type":"String"},{"name":"PayrollNumber","type":"String"},{"name":"AgencyCode","type":"String"},{"name":"AgencyName","type":"String"},{"name":"EmployeeID","type":"String"},{"name":"LastName","type":"String"},{"name":"FirstName","type":"String"},{"name":"AgencyStartDate","type":"String"},{"name":"WorkLocationBorough","type":"String"},{"name":"TitleCode","type":"String"},{"name":"TitleDescription","type":"String"},{"name":"LeaveStatusasofJune30","type":"String"},{"name":"BaseSalary","type":"String"},{"name":"PayBasis","type":"String"},{"name":"RegularHours","type":"String"},{"name":"RegularGrossPaid","type":"String"},{"name":"OTHours","type":"String"},{"name":"TotalOTPaid","type":"String"},{"name":"TotalOtherPay","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_payroll2021')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"FiscalYear","type":"int","precision":10},{"name":"PayrollNumber","type":"int","precision":10},{"name":"AgencyCode","type":"varchar"},{"name":"AgencyName","type":"varchar"},{"name":"EmployeeID","type":"varchar"},{"name":"LastName","type":"varchar"},{"name":"FirstName","type":"varchar"},{"name":"AgencyStartDate","type":"date"},{"name":"WorkLocationBorough","type":"varchar"},{"name":"TitleCode","type":"varchar"},{"name":"TitleDescription","type":"varchar"},{"name":"LeaveStatusasofJune30","type":"varchar"},{"name":"BaseSalary","type":"float","precision":15},{"name":"PayBasis","type":"varchar"},{"name":"RegularHours","type":"float","precision":15},{"name":"RegularGrossPaid","type":"float","precision":15},{"name":"OTHours","type":"float","precision":15},{"name":"TotalOTPaid","type":"float","precision":15},{"name":"TotalOtherPay","type":"float","precision":15}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_Data_2021"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sql_summary')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sql_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"FiscalYear","type":"int","precision":10},{"name":"AgencyName","type":"varchar"},{"name":"TotalPaid","type":"float","precision":15}],"typeProperties":{"schema":"dbo","table":"NYC_Payroll_Summary"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sink_staging')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_nyc')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"dirstaging","fileSystem":"nycpayrollcontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}